.gameIntro--mod {
    min-height: 50vh;
}

.gameSelections--mod {
    min-height: 50vh;
}

/*.room1--mod {*/
    
/*}*/

.responsive {
    width: 100%;
    height: auto;
    
}

.gameBox__image {
    position: relative;
    opacity: 0.8;
    max-width: 1000px;
    max-height: 563px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.gameBox__image-clown {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 20%;
    height: auto;
}


.gameBox__text {
    position: absolute;
    color: white;
    font-size: 2vw;
    top: 15%;
    left: 40%;
    width: 40%;
    height: auto;
}

@media (max-width: 576px) {
    .gameBox__text {
    font-size: 3vw;
    }
}


.gameHints__text ul li {
    font-size: 1.25vw;
}

@media (max-width: 576px) {
    .gameHints__text ul li {
    font-size: 2.25vw;
    }
}

.button {
    width: 100%;
    height: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}




