body {
    background-image: url("../media/image/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.gameIntro__text {
    min-height: 50vh;
}

.gameIntro__text h1 {
    color: white;
}

.gameIntro__text p {
    color: white;
}

.gameIntro__image {
    margin-top: 50px;
    margin-left: 100px;
    max-width: 300px;
    max-height: 300px;
    
}

/*.gameSelections--mod {*/
    /*min-height: 50vh;*/
/*}*/

.room--mod {
    position: relative;
}

@media (max-width: 576px) {
    .room--mod {
    margin-top: 5px;
    }
}

.image {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.room--mod:hover .image {
    opacity: 0.3;
}

.room--mod:hover .middle {
    opacity: 1;
}

.room__text {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.responsive {
    width: 100%;
    height: auto;
    
}

.gameBox__image {
    position: relative;
    opacity: 0.8;
    max-width: 1000px;
    max-height: 563px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.gameBox__image-clown {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 20%;
    height: auto;
    animation-name: clown;
    animation-duration: 4s;
    /*animation-delay: 2s;*/
}

@keyframes clown {
    0% {left: 0%; top:0%;}
    100% {left: 10%; top: 10%;}
}


.gameBox__text {
    position: absolute;
    color: white;
    font-size: 2vw;
    top: 15%;
    left: 40%;
    width: 40%;
    height: auto;
}

@media (max-width: 576px) {
    .gameBox__text {
    font-size: 3vw;
    }
}

.gameHints__text p {
    color: white;
}

.gameHints__text ul li {
    font-size: 1.25vw;
    color: white;
}

@media (max-width: 576px) {
    .gameHints__text ul li {
    font-size: 2.25vw;
    }
}

.gameFooter--mod {
    color: white;
}

.gameLives--mod {
    color: white;
}

.button {
    width: 100%;
    height: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}




